# Default on credit card prediction (SVM)

Let's introduce at first the dataset that would be used in this mini-project. (You'll find the source at the Read-me of the repo). 

So let's visualize this dataset and define attributes as we go on.

In [2]:
import numpy as np
import pandas as pd
from sklearn import svm, datasets

In [3]:
input_file = "C:/Users/YsfEss/Desktop/UCI_Credit_Card.csv"
df = pd.read_csv(input_file, header = 0)
df.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
0,1,20000.0,2,2,1,24,2,2,-1,-1,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
1,2,120000.0,2,2,2,26,-1,2,0,0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1
2,3,90000.0,2,2,2,34,0,0,0,0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
3,4,50000.0,2,2,1,37,0,0,0,0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0
4,5,50000.0,1,2,1,57,-1,0,-1,0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0

There is 25 attributes for each client, but we will be interested in particular in 12 attributes (11 predictors & 1 output) for building our model. The features used for the rest of this tutorial are: 


**1- ID: ID of each client** (Won't be used as feature obviously, I left it for visualization purposes only)

**2- LIMIT_BAL: Amount of given credit in NT dollars**

**3- SEX: Gender (1=male, 2=female)**

**4- EDUCATION: (1=graduate school, 2=university, 3=high school, 4=others, 5=unknown, 6=unknown)**

**5- MARRIAGE: Marital status (1=married, 2=single, 3=others)**

**6- AGE: Age in years**

for i [0,6]

**(7-12)- PAY_i: Repayment status in i+9 month, 2005 (-1=pay duly, 1=payment delay for one month, 2=payment delay for two months, ... 8=payment delay for eight months, 9=payment delay for nine months and above)**

**default.payment.next.month: Default payment (1=yes, 0=no)**

In [15]:
features=df.columns
features=list(features)
features=features[0:12]+[features[len(features)-1]]
df1=df[features]
df1

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6,default.payment.next.month
0,1,20000.0,2,2,1,24,2,2,-1,-1,-2,-2,1
1,2,120000.0,2,2,2,26,-1,2,0,0,0,2,1
2,3,90000.0,2,2,2,34,0,0,0,0,0,0,0
3,4,50000.0,2,2,1,37,0,0,0,0,0,0,0
4,5,50000.0,1,2,1,57,-1,0,-1,0,0,0,0
5,6,50000.0,1,1,2,37,0,0,0,0,0,0,0
6,7,500000.0,1,1,2,29,0,0,0,0,0,0,0
7,8,100000.0,2,2,2,23,0,-1,-1,0,0,-1,0
8,9,140000.0,2,3,1,28,0,0,2,0,0,0,0
9,10,20000.0,1,3,2,35,-2,-2,-2,-2,-1,-1,0
10,11,200000.0,2,3,2,34,0,0,2,0,0,-1,0
11,12,260000.0,2,1,2,51,-1,-1,-1,-1,-1,2,0
12,13,630000.0,2,2,2,41,-1,0,-1,-1,-1,-1,0
13,14,70000.0,1,2,2,30,1,2,2,0,0,2,1
14,15,250000.0,1,1,2,29,0,0,0,0,0,0,0
15,16,50000.0,2,3,3,23,1,2,0,0,0,0,0
16,17,20000.0,1,1,2,24,0,0,2,2,2,2,1
17,18,320000.0,1,1,1,49,0,0,0,-1,-1,-1,0
18,19,360000.0,2,1,1,49,1,-2,-2,-2,-2,-2,0
19,20,180000.0,2,1,2,29,1,-2,-2,-2,-2,-2,0
20,21,130000.0,2,3,2,39,0,0,0,0,0,-1,0
21,22,120000.0,2,2,1,39,-1,-1,-1,-1,-1,-1,1
22,23,70000.0,2,2,2,26,2,0,0,2,2,2,1
23,24,450000.0,2,1,1,40,-2,-2,-2,-2,-2,-2,1
24,25,90000.0,1,1,2,23,0,0,0,-1,0,0,0
25,26,50000.0,1,3,2,23,0,0,0,0,0,0,0
26,27,60000.0,1,1,2,27,1,-2,-1,-1,-1,-1,1
27,28,50000.0,2,3,2,30,0,0,0,0,0,0,0
28,29,50000.0,2,3,1,47,-1,-1,-1,-1,-1,-1,0
29,30,50000.0,1,1,2,26,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
29970,29971,360000.0,1,1,1,34,-1,-1,-1,0,0,-1,0
29971,29972,80000.0,1,3,1,36,0,0,0,0,0,0,0
29972,29973,190000.0,1,1,1,37,0,0,0,0,0,-1,0
29973,29974,230000.0,1,2,1,35,1,-2,-2,-2,-2,-2,1
29974,29975,50000.0,1,2,1,37,1,2,2,2,0,0,1
29975,29976,220000.0,1,2,1,41,0,0,-1,-1,-2,-2,0
29976,29977,40000.0,1,2,2,47,2,2,3,2,2,2,1
29977,29978,420000.0,1,1,2,34,0,0,0,0,0,0,0
29978,29979,310000.0,1,2,1,39,0,0,0,0,0,0,0
29979,29980,180000.0,1,1,1,32,-2,-2,-2,-2,-2,-2,0
29980,29981,50000.0,1,3,2,42,0,0,0,0,0,0,0
29981,29982,50000.0,1,2,1,44,1,2,2,2,0,0,0
29982,29983,90000.0,1,2,1,36,0,0,0,0,0,0,1
29983,29984,20000.0,1,2,1,44,-2,-2,-2,-2,-2,-2,0
29984,29985,30000.0,1,2,2,38,-1,-1,-2,-1,-1,-1,0
29985,29986,240000.0,1,1,2,30,-2,-2,-2,-2,-2,-2,0
29986,29987,360000.0,1,1,2,35,-1,-1,-2,-2,-2,-2,0
29987,29988,130000.0,1,1,2,34,0,0,0,0,0,0,0
29988,29989,250000.0,1,1,1,34,0,0,0,0,0,0,0
29989,29990,150000.0,1,1,2,35,-1,-1,-1,-1,-1,-2,0
29990,29991,140000.0,1,2,1,41,0,0,0,0,0,0,0
29991,29992,210000.0,1,2,1,34,3,2,2,2,2,2,1
29992,29993,10000.0,1,3,1,43,0,0,0,-2,-2,-2,0
29993,29994,100000.0,1,1,2,38,0,-1,-1,0,0,0,0
29994,29995,80000.0,1,2,2,34,2,2,2,2,2,2,1
29995,29996,220000.0,1,3,1,39,0,0,0,0,0,0,0
29996,29997,150000.0,1,3,2,43,-1,-1,-1,-1,0,0,0
29997,29998,30000.0,1,2,2,37,4,3,2,-1,0,0,1
29998,29999,80000.0,1,3,1,41,1,-1,0,0,0,-1,1
29999,30000,50000.0,1,2,1,46,0,0,0,0,0,0,1